nav{
    background-color: #1F2937;
    text-align: center;
    position: sticky;
  }
  
    
  
  a {
      color: #fff;
      text-decoration: none;
  }
  

.head-main {
background-color: #1F2937;

}

.header {
    display: flex;
}


a {
    color: white;
    text-decoration: none;
}

li{
    font-size: 1rem;
}

#logotext{ 
    font-size: 24px;
    color: #f9faf8;
    margin: auto;
    padding: 2rem;
    
   
}

nav {
    
    min-height: 10vh;
    display: flex;
    align-items: center;
    
    margin: auto;
    padding: 2rem; 
    position: sticky;

}
nav ul{
    
    display: flex;
    justify-content: right;
    flex: 2 1 40rem ;
    justify-content: space-around;
    list-style: none;
    position: sticky;
    

}

.logotext{
    flex: 2 1 40rem;
}

h1 {
    font-size: 48px;
    font: weight 900px;;
    color: white;
}

#button_head {
    background-color: #3882F6;
    border-radius: 10px;
    border: 2px #3882F6;
}

.text_header p {
font-size: 18px;
color: #e5e7eb;
}

.text_header {
width: 90%;
margin: auto;
padding: 3rem;
}

.container{
    display: flex;
}
.logo{
    width: auto;
    height: auto;
}

.Information{
    display: flex;
    justify-content: center;
}
.Information h1 {
    font-size: 36px;
    font: 900;
    color: #1F2937;
    font-display: center;
}

/* CSS Boite debut */
.boxweiss  {
    width: 200px;
    height: 150px; 
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border:solid  10px #3882F6;
    border-radius: 25px;
    }

.boxkaho  {
width: 200px;
height: 150px; 
margin: 10px;
padding: 10px;
display: flex;
justify-content: space-around;
border:solid  10px #3882F6;
border-radius: 25px;
}

.box3  {
width: 200px;
height: 150px; 
margin: 10px;
padding: 10px;
display: flex;
justify-content: space-around;
border:solid  10px #3882F6;
border-radius: 25px;
}

.box4  {
width: 200px;
height: 150px; 
margin: 10px;
padding: 10px;
display: flex;
justify-content: space-around;
border:solid  10px #3882F6;
border-radius: 25px;
} 

#pctbox1{ 
    width: 200px;
    height: 100px;
 }  
 #pctbox2{ 
    width: 200px;
    height: 100px;
 }
 #pctbox3{ 
    width: 200px;
    height: 100px;
 }
 #pctbox4{ 
    width: 200px;
    height: 100px;
 }

.box ul{
    list-style: none;
    display: flex;

}
.box p{
    text-align: center;
}
/* CSS Boite fin */

/*Quote*/
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
}

#quotetext {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    text-align: start;
}
#quoteauthor {
    font-size: 24px;
    color: darkslateblue;
    font-style: BOLD;
    text-align: end;
}

.action {
    padding: 30px;
    margin: 100px;
    border-radius: 25px;
    background-color: #193f75;
    text-align: center;
    justify-content: flex-end;  
}
#button_discord {
    display:grid;
}

/*footer*/
.footer{
    background-color: #534035;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
   
}
.logo_footer{
    width: auto;
    height: 50px;
}

.footer p {
    font-size: 38px;
    font-style: italic;  
}

/*Effect flooter start*/
.TDS-wrapper {
    width: auto;
    height: auto;
    background-color:#1F2937;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
 }
 
 
 .TDS {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: none;
    padding: 10px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
    
 }
 
 .TDS:before,
 .TDS:after {
    display: block;
    content: attr(data-TDS);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .TDS:before {
    animation: TDS-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
 }
 
 .TDS:after {
    animation: TDS-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #ff00ff;
    z-index: -2;
 }
 
 @keyframes TDS-color {
    0% {
       transform: translate(0);
    }
 
    20% {
       transform: translate(-3px, 3px);
    }
 
    40% {
       transform: translate(-3px, -3px);
    }
 
    60% {
       transform: translate(3px, 3px);
    }
 
    80% {
       transform: translate(3px, -3px);
    }
 
    to {
       transform: translate(0);
    }
 }
 /*Effect flooter end*/
 .logo_f{
    display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
 }