p {
   text-align: justify;
}

.text_player {
    margin: 10;
    padding: auto;
    width: 400px;
    justify-content: center;
}
.hover-image a {
    background-color: blue;
    font-size: small;
}



/*footer*/
.grid-container { 
    background-color: #1F2937;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". text_footer ."
      ". logo_footer ."
      ". . ."; 
  }
  
  .text_footer { 
    grid-area: text_footer;
    font-size: 34px;
    color: #E5E7EB;
    text-align: center;
    
  }
  
  .logo_footer { grid-area: logo_footer; }
  
  .text_footer p {
  font-size: 34px;
  }