/* Style the header */
.header {
    
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: auto;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.text_player {
  background-image:linear-gradient(to top, rgba(15, 26, 89, 0.52), rgba(6, 7, 54, 0.73)), url('/ptc/shaco.jpg') ;
  background-position: auto;
  width: auto;
  height: 400px;
  background-size: cover;
  color: rgb(251, 251, 251);
  padding: 20px;
}
